/* Para index.html, LOG IN */
.body-login{
    background-color: rgb(32, 32, 32);

}

h1{
    color: white;
    background-color: red;
    text-align: center;
}

h2{
    background-color: yellow;
    margin: 20px auto;
}

.login{
    background-color: rgb(192, 192, 192);
    width: 950px;
    height: 450px;
    padding: 40px;
    margin: 20px auto;

}

.login h2{
    text-align: center;
    color: black;   
}

.txtUsername, .txtPassword{
    text-align: center;
}

.login-button{
    background-color: white;
    margin-top: 20px;
}