/* Para index.html, LOG IN */
.body-login{
    background-image: url("login_img.jpg");
    /* background-color: rgb(32, 32, 32); */
}

h1{
    color: white;
    background-color: red;
    text-align: center;
}

.login{
    width: 500px;
    height: 250px;
    padding: 40px;
    margin: 20px auto;
    position: relative;
    background-color: aliceblue;

}

.login h2{
    font: bold italic 2em Georgia, Times, "Times New Roman", serif;
    text-align: center;
    border-bottom-width: 2px;
    border-bottom-style: dashed;
}



.txtUsername, .txtPassword{
    text-align: center;
}

.login-button{
    background-color: white;
    margin-top: 20px;
}

.register-button{
    bottom: 0;
    right: 0;
    position: absolute;
    display: inline-block;
    margin: 10px;
    
}

input{
    border-radius: 25px;
    text-align: center;
}

.guest-button{
    bottom: 3em;
    right: 0;
    position: absolute;
    margin: 10px;

}

