.formcontainer {
    border-style: solid;
    border-color: blue;
    padding: 20px;
    margin: 20px;
}

.person-list {
    border-spacing: 0;
    border-collapse: collapse;
    border-style: solid;
    border-color: black;
}

.person-list td, .person-list th {
    border-style: solid;
    border-color: black;
    border-width: 1px;
    padding: 5px
}